:root {
    --bg-main-color: #000000;
    --fg-main-color: #ffffff;
    --fg-second-color: gray;
    --font-family: Verdana;
    --a-main-color: aquamarine;
    --font-weight-normal: normal;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-main-color, #000);
    color: var(--fg-main-color, white);
    font-family: var(--font-family);
    text-align: center;
    font-weight: normal;
}

a {
    color: var(--a-main-color, aquamarine);
    font-size: 1rem;
}

.discover {
    font-size: 3.2rem;
}

.personal-guide {
    font-size: 2.8rem;
    font-weight: 300;
}

.gray {
    color: var(--fg-second-color, gray);
    font-size: 1.5rem;
}

.soon {
    font-size: 2.9rem;
}

footer {
    text-align: right;
}

footer p {
    margin-right: .8rem;
    color: var(--fg-second-color, gray);
}